body {  
  font-family: 'Comic Sans', sans-serif; /* try roboto, otherwise try this generic family */
  font-weight: 400;
	color: #B9B9B9 ;
	background-color: black;
}

p {
	
	text-align: center;
	

}

/* Header styles */
header nav {
  padding: 16px 0;
  
  font-weight: 400;
}

header nav a {
  margin-right: 16px;
  
  color: #989898;
  text-decoration: none;
}

header nav a:hover {
  color: #FFFFFF;
}

header nav a.nav-link-active {
  color: #B9B9B9;
}

header nav a:last-of-type {
  margin-right: 0;
}

.content {
  flex: 1 0 auto; /* make content growable *not* shrinkable, auto initial length*/
}

.wrapper {
  margin: 0 auto; /* auto will center the content after applying the width*/
  width: 1200px;
}


footer {
  flex-shrink: 0;
  
  margin-top: 64px;
  padding: 32px 0 64px 0;
  
  background: #7D7D7D;
  color: #D8DF43;
  
  font-size: 12px;
  text-align: center;
}

ol {
	text-align:center;
}
li p {
	text-align:center;
  margin: 8px 0px;
}

li a {
	text-align:center;
  margin: 8px 0px;
}

ol {
	text-align:center;
  margin: 8px 0px;
	border-style: inset;
	border-color: #141414;
	border-left-width: 2px;
	border-right-width: 2px;
	border-width: 150px;
	background-color:black;
	color: #DEDEDE;
}